.App {
  text-align: center;
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e3d5ca;
  padding: 2rem;
  margin-bottom: 2rem;
}

.App-link {
  color: #e0ece4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

section {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  background-color: #e3d5ca;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  color: #0077c2;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
a:focus {
  text-decoration: underline;
}